<% if flash[:message]%>
  <h2><%= flash[:message] %></h2>
<% end %>





<h1><%= @cause.name %>; Goal: $<%= @cause.goal %>, Current: $<%= @cause.current %>, To Go: $<%= @cause.goal - @cause.current %></h1>

<div style="background-color: lightblue;hight:100px;width:900px">

  

  <img src="<%= (@cause&.image_link&.include?('http') ? @cause.image_link : ('../' + @cause&.image_link)) if @cause&.image_link%>" alt="<%= @cause.name %>" width="120" height="130" style="vertical-align:middle;float:left;margin:0px 50px" >

  <p><%= @cause.description %></p>

  <% session[:cause_id] = @cause.id %>

<% if current_user %>
  <% if current_user.admin?%>
    <form action="/causes/<%= @cause.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Edit This Cause</button>
    </form>
    <form action="/causes/<%= @cause.slug %>" method='post'>
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-primary">Delete This Cause</button>
    </form>
    <% elsif  @cause.met%>
      <h5>The Goal For This Cause Has Been Met. Thanks To All Of You Who Supported This Cause.</h5>

    <% elsif  current_user.causes.include?(@cause)%>
      <h5>You've Donated To This Cause Previously</h5>
      <form action="/donations/new" method='get'>
        <button type="submit" class="btn btn-primary">Donate Again</button>
      </form>
    <% else %>
      <form action="/donations/new" method='get'>
        <button type="submit" class="btn btn-primary">Support This Cause</button>
      </form>
  <% end %>
  <% else %>
    <form action="/advocates/registration" method='get'>
      Please <button type="submit" class="btn btn-primary">Login/Sign Up</button> To Be Able To Support This Cause
    </form>
<% end %><br><br>  
  <h4>Supporters: 

<br><% if @cause.donations.empty? %>
  <h5>This Cause Have No Supporters Yet!</h5>
<% else %>
  <ol>
    <% @cause.donations.each do |donation|%>
      <li><i class="fa fa-list" aria-hidden="true"> A Donation Of <%= donation.amount %>$ Was Made On <%= donation.created_at%> By <%= donation.advocate_name%></i></li>
    <% end %>
  </ol>
<% end %>
</h4>
      
</div>