<% if flash[:message]%>
  <h2><%= flash[:message] %></h2>
<% end %>





<h1><%= @cause.name %></h1>

<div style="background-color: lightblue;hight:100px;width:800px">

  <img src="<%= @cause.image_link.include?('http') ? @cause.image_link : ('../' + @cause.image_link)%>" alt="<%= @cause.name %>" width="120" height="130" style="vertical-align:middle;float:left;margin:0px 50px" >

  <p><%= @cause.description %></p>

  <% session[:cause_id] = @cause.id %>

<% if current_user %>
  <% if current_user.name == 'admin'%>
    <form action="/causes/<%= @cause.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Edit This Cause</button>
    </form>
    <form action="/causes/<%= @cause.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Delete This Cause</button>
    </form>
    <% elsif  current_user.causes.include?(@cause)%>
      <p>You've Donated To This Cause Previously</p>
      <form action="/donations/new" method='get'>
        <button type="submit" class="btn btn-primary">Donate Again</button>
      </form>
    <% else %>
      <form action="/donations/new" method='get'>
        <button type="submit" class="btn btn-primary">Support This Cause</button>
      </form>
  <% end %>
  <% else %>
    <form action="/advocates/registration" method='get'>
      Please <button type="submit" class="btn btn-primary">Login/Sign Up</button> To Be Able To Support This Cause
    </form>
<% end %>            
</div>