<h1>Edit Your Account Credentials.</h1>

    <form action="/advocates/<%= @advocate&.slug%>" method="post">
    
      <div class="form-group" style="width: 500px;position: relative;left: 280px">
        <input type="hidden" name="_method" value="patch">

        <label for="name">Name </label><br>
        <input type="text" name="advocate[name]" id="name" class="form-control" value="<%= @advocate&.name%>" aria-describedby="helpId"><br>
<h6 style="color:red;"><%= @advocate&.errors&.[](:name)&.[](0) %></h6>
        <label for="email">E-mail <span style="color:red;"><%= @advocate&.errors&.[](:email)&.[](0) %></span></label><br>
        <input type="email" name="advocate[email]" id="email" class="form-control" value="<%= @advocate&.email%>" aria-describedby="helpId"><br>

        <label for="password">Password  <span style="color:red;"><%= @advocate&.errors&.[](:password)&.[](0) %></span></label><br>
        <input type="text" name="advocate[password]" id="password" class="form-control" value="<%= @advocate&.password%>" aria-describedby="helpId"><br>

        <label for="password_confirmation">Password Confirmation <span style="color:red;"><%= @advocate&.errors&.[](:password_confirmation)&.[](0) %></span></label><br>
        <input type="text" name="advocate[password_confirmation]" value="<%= @advocate&.password%>"  id="password_confirmation" class="form-control" aria-describedby="helpId"><br>

        <button type="submit" class="btn btn-primary">Update Account</button>
      </div>
    </form>
