<h1>Edit Your Account Credentials.</h1>

    <form action="/advocates/<%= @advocate.slug %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <%# <% binding.pry %> 
        <label for="name">Name <span style="color:red;"><%= @advocate&.errors&.[](:name)&.[](0) %></span></label><br>
        <input type="text" name="advocate[name]" id="name" class="form-control" value="<%= @advocate.name%>" aria-describedby="helpId"><br>
        <label for="email">E-mail <span style="color:red;"><%= @advocate&.errors&.[](:email)&.[](0) %></span></label><br>
        <input type="text" name="advocate[email]" id="email" class="form-control" value="<%= @advocate.email%>" aria-describedby="helpId"><br>
        <%# <small id="helpId" class="text-muted">Help text</small><br> %>
        <label for="password">Password  <span style="color:red;"><%= @advocate&.errors&.[](:password)&.[](0) %></span></label><br>
        <input type="text" name="advocate[password]" id="password" class="form-control" value="<%= @advocate.password%>" aria-describedby="helpId"><br>
        <label for="password_confirmation">Password Confirmation <span style="color:red;"><%= @advocate&.errors&.[](:password_confirmation)&.[](0) %></span></label><br>
        <input type="text" name="advocate[password_confirmation]" value="<%= @advocate.password%>"  id="password_confirmation" class="form-control" placeholder="Confirm New Password" aria-describedby="helpId"><br>
        <%# <small id="helpId" class="text-muted">Help text</small><br> %>
        <button type="submit" class="btn btn-primary">Update Account</button>
      </div>
    </form>
