
<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% else %>
  <h3>Welcom <%= @advocate.name %></h3>
<% end %>

<h4>
  Ready To Make Some Donations, Visit 
  <H6> 
  <form action="/advocates" method='get'>
      <button type="submit" class="btn btn-primary">Home</button>
  </form>
  </h6> 
  Or 
</h4>

<H6> 
  <form action="/advocates/<%= @advocate.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Edit</button> Your Account.
  </form> 
</h6>
<br>
<h4>Your Donations

<% if @advocate.donations.empty? %>
  <h5>Currently You Have No Donations To List</h5>
<% else %>
  <% @advocate.donations.each do |donation|%>
    <p><i class="fa fa-list" aria-hidden="true">On <%= donation.created_at%> You Made A Donation Of <%= donation.amount %>$ 
    To Support <%=  Cause.find(donation.cause_id).name %> Cause 
    </i></p>
  <% end %>
<% end %>
</h4>



