
<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% else %>
  <h3>Welcom <%= @advocate.name %></h3>
<% end %>

<h4>
  Ready To Make Some Donations, Visit 
  <H6> 
  <form action="/advocates" method='get'>
      <button type="submit" class="btn btn-primary">Home</button>
  </form>
  </h6> 
  Or 
</h4>

<H6> 
  <form action="/advocates/<%= @advocate.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Edit</button> Your Account.
  </form> 
</h6>

<% if @advocate.donations.empty? %>
  <h5>Currently You Have No Donations To List</h5>
<% else %>
  <% @advocate.donations.each do |donation|%>
    <i class="fa fa-list" aria-hidden="true">On <%= donation.created_at%> You Made A Donation Of <%= donation.amount %>$ 
    <%# To Support <%=  Cause.find(donation.cause_id).name %> %>
    </i>
  <% end %>
<% end %>



<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Heading</h5>
      <small>small</small>
    </div>
    <p class="mb-1">Paragraph</p>
    <small>paragraph footer</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Heading</h5>
      <small>small</small>
    </div>
    <p class="mb-1">Paragraph</p>
    <small>paragraph footer</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Heading</h5>
      <small>small</small>
    </div>
    <p class="mb-1">Paragraph</p>
    <small>paragraph footer</small>
  </a>
</div>

<ul class="list-group">
  <li class="list-group-item active">Active item</li>
  <li class="list-group-item">Item</li>
  <li class="list-group-item disabled">Disabled item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center active">
    Active list item
    <span class="badge badge-secondary badge-pill">pill1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    List item
    <span class="badge badge-secondary badge-pill">pill2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center disabled">
    Disabled item
    <span class="badge badge-secondary badge-pill">pill3</span>
  </li>
</ul>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">Active item</button>
  <button type="button" class="list-group-item list-group-item-action">Item</button>
  <button type="button" class="list-group-item list-group-item-action disabled">Disabled item</button>
</div>
<i class="fa fa-list" aria-hidden="true">fffff</i>
