<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <style>
      .wrapper {
        background: rgb(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        margin: 16px auto;
        max-width: 1300px;
        padding: 2.25%; /* 18px / 800px */
        width: 98%;
      }
      
      .required input:after { content:"*"; }
      
      img {
        border-radius: 30%;
      }
    </style>
      
    <title>WeAreThePeople</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/mine.css" />
  </head>
  <% src = "https://images.squarespace-cdn.com/content/v1/5d07cde0701969000168c986/1575307091704-9MEDG2Z2MTXRM9GM8KRG/ke17ZwdGBToddI8pDm48kAp4_xqv4a2og9bVWiVgxB4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc36OP64Qzykw3xajK5O2gv02XNZsRoCk0FtuYNZkYE8g11qEFPfkUhy90RPR0Z1hA/Screenshot+2019-12-02+at+6.18.02+PM.png?format=1500w"%>
  <body>  
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="color: rgba(51, 214, 100, 0.9);">
      <a class="navbar-brand" href="#">WAP</a>
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" <%if current_user %>href="/causes" <% else %> href="/" <% end %>>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <% if current_user %>
          <h3 style="position: relative;right: 400px;color: rgba(97, 82, 236, 0.4);">Hello <%= current_user.name %></h3>
          <form class="form-inline my-2 my-lg-0" action="/advocates/<%= current_user.slug %>" method="get">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">My Account </button>
          </form>
        <% end %>
        
        <form class="form-inline my-2 my-lg-0" action="/advocates/registration" method="get">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><% if current_user %><%= "Log Out" %><% else %><%= "Login/Sign Up" %><% end %></button>
        </form>
        </div>
      </nav>
    <div class="wrapper">

      
      
      

        <%= yield %>

      <%# <footer class="branding">
        <small>&copy; 2021 <strong>WeAreThePeople</strong></small>
      </footer> %>
    </div>

    <%# <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> %>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
